<div class="bg-white h-24 p-2 flex items-center justify-between shadow-md  w-full">
    <!-- Logo Section -->
    <div>
        <img src="~/image/logo.png" alt="LendSpace Logo" class="logo w-auto h-20 ml-10">
    </div>
    <!-- Navigation Links -->
    <ul class="flex items-center justify-end mr-10 pr-20">
        <li class="ml-1">
            <a href="#" class="flex items-center space-x-1 text-xs">
                <img src="~/image/footer.png" alt="LendSpace Logo" class="logo w-auto h-6 ml-10">
            </a>
        </li>
        <li class="ml-1">
            <a href="#" class="flex items-center space-x-1 text-xs">
                <img src="~/image/footer1.png" alt="LendSpace Logo" class="logo w-auto h-6 ml-10">
            </a>
        </li>
        <li class="ml-1">
            <a href="#" class="flex items-center space-x-1 text-xs">
                <img src="~/image/footer2.png" alt="LendSpace Logo" class="logo w-auto h-6 ml-10">
            </a>
        </li>
        <li class="ml-1">
            <a href="#" class="flex items-center space-x-1 text-xs">
                <img src="~/image/footer3.png" alt="LendSpace Logo" class="logo w-auto h-6 ml-10">
            </a>
        </li>
    </ul>
</div>
