<!-- navbar.cshtml -->
<div class="bg-white h-24 p-2 flex items-center justify-between shadow-md fixed top-0 w-full z-50">
    <!-- Logo Section -->
    <div>
        <img src="~/image/logo.png" alt="LendSpace Logo" class="logo w-auto h-10 ml-10">
    </div>
    <!-- Navigation Links -->
    <ul class="flex items-center justify-end mr-10">
        <li class="ml-5">
            <a href="2" class="flex items-center space-x-2 ">
                <span data-feather="home"></span>
                <span>EVENTS</span>
            </a>
        </li>
        <li class="ml-5">
            <a href="/User/Landing" class="flex items-center text-black pr-3 ">
                <span data-feather="file"></span>
                <span>BOOK</span>
            </a>
        </li>
        <li class="ml-5 border border-black rounded-full h-9 flex items-center justify-center">
            <!-- Add an ID to the login link for JavaScript targeting -->
            <a href="/Account/Login" id="login-button" class="flex items-center text-black pr-3">
                <span data-feather="file"></span>
                <img src="~/image/user.png" alt="User Icon" class="w-auto h-8 pl-2">
                <span class="text-center text-sm p-3">Login</span>
            </a>
        </li>
    </ul>
</div>