<div class="bg-white h-full p-4 flex flex-row justify-between shadow-md">
    <div class="flex-1">
        <a href="#">LendSpace</a>
    </div>
    <ul class="flex flex-row justify-evenly flex-1">
        <li>
            <a href="#">
                <span data-feather="home"></span>
                EVENTS
            </a>
        </li>
        <li>
            <a href="#">
                <span data-feather="file"></span>
                BOOK
            </a>
        </li>
        <li>
            <a href="/Account/Login">
                <span data-feather="file"></span>
                LOGIN
            </a>
        </li>
        <li>
            <a href="#">
                <span data-feather="file"></span>
                REGISTER
            </a>
        </li>
    </ul>
</div>