<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LendSpace</title>
    <link rel="stylesheet" href="~/app.css" />
    <link rel="stylesheet" href="~/tailwind.css" />
</head>
<body>
    <div class="flex flex-col w-screen h-screen">
        @if (ViewData["Title"]?.ToString() != "Sign-In")
        {
            <nav>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <!-- User Navbar -->
                    <partial name="_UserNavbar" />
                }
                else
                {
                    <!-- Landing Navbar -->
                    <partial name="_LandingNavbar" />
                }
            </nav>
        }
        <main role="main" class="w-full h-full">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
