<link rel="stylesheet" href="~/css/ufooter.css">

<footer>
    <div class="content">
        <div class="left-content">
            <span><img src="~/image/phone_icon.png" alt="icon" class="icon"> Contact Us: +123 456 789</span>
            <span><img src="~/image/mail_icon.png" alt="icon" class="icon"> Email: LendSpace@gmail.com</span>
            <span><img src="~/image/world_icon.png" alt="icon" class="icon"> Website: www.lendspace.com</span>
        </div>
        <div class="center-content">
            <span>Quick Links:</span>
            <span>•<a href="#">About Us</a></span>
            <span>•<a href="#">Home & Facilities</a></span>
            <span>•<a href="#">Reservation</a></span>
            <span>•<a href="#">Amenities</a></span>
            <span>•<a href="#">Contact</a></span>
        </div>
        <div class="right-content">
            <span>Follow Us:</span>
            <span><img src="~/image/fb_icon.png" alt="icon" class="icon">Facebook</span>
            <span><img src="~/image/insta_icon.png" alt="icon" class="icon">Instagram</span>
            <span><img src="~/image/twitter_icon.png" alt="icon" class="icon">Twitter</span>
        </div>
        
    </div>
    <div class="down-content">
        <hr>
        <span>LendSpaceTeam, Inc. All rights reserved 2025</span>
    </div>
</footer>
