@model User

<div class="bg-white h-full p-4 flex flex-row justify-between shadow-md">
    <div class="flex-1">
        <a href="#">LendSpace</a>
    </div>
    <ul class="flex-1 flex flex-row justify-between">
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="home"></span>
                DASHBOARD
            </a>
        </li>
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="home"></span>
                BILLING
            </a>
        </li>
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="file"></span>
                RESERVATION
            </a>
        </li>
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="file"></span>
                EVENTS
            </a>
        </li>
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="file"></span>
                ANNOUNCEMENTS
            </a>
        </li>
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="file"></span>
                FORUM
            </a>
        </li>
        <li>
            <a href="#" class="hover:border-b-2">
                <span data-feather="file"></span>
                @Model.FirstName
            </a>
        </li>
    </ul>
</div>