@model IEnumerable<Billing>
@{
    ViewData["Title"] = "Billing";
}

<div class="mt-50 pt-50">
    <span>
        BILLING HERE
    </span>

    @foreach (var billing in Model)
    {
        <p>@billing.Name</p>
        <p>@billing.Amount</p>
        <p>@billing.IssuedAt.ToShortDateString()</p>
    }
</div>
