@model IEnumerable<Billing>
@{
    ViewData["Title"] = "Billing";
}

<div class="flex flex-col w-full h-full bg-gray-100">
    <header class="px-15 py-10">
        <h1 class="text-3xl font-bold">List of Billings</h1>
    </header>

    <main class="px-15">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Issued At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var billing in Model)
                {
                    <tr>
                        <td>@billing.Name</td>
                        <td>@billing.Amount</td>
                        <td>@billing.IssuedAt</td>
                    </tr>
                }
            </tbody>
        </table>

        
    </main>
</div>
