@model IEnumerable<Facility>

@{
	ViewData["Title"] = "Facility";
	var searchTerm = ViewBag.SearchTerm as string;
}

<style>
	html {
		scroll-behavior: smooth;
		font-family: 'PT Sans Narrow', sans-serif;
		overflow-y: scroll;
		overflow-x: hidden;
	}

		html::-webkit-scrollbar {
			width: 8px;
		}

		html::-webkit-scrollbar-track {
			background: #f0f0f0;
		}

		html::-webkit-scrollbar-thumb {
			background-color: #888;
			border-radius: 4px;
			border: 2px solid #f0f0f0;
		}

			html::-webkit-scrollbar-thumb:hover {
				background-color: #555;
			}
</style>


<div class="flex flex-col bg-gray-100 p-4">
	<div class="flex flex-row items-center justify-between px-15 pb-10">
		<h2 class="text-3xl font-bold">
			<span>List of Facilities</span>
		</h2>
		<!-- Calendar Icon and Date Picker -->
		<div class="flex items-center ">

			<div class="flex items-center border border-black rounded-lg h-9 w-64 px-2">
				<form method="GET">
					<input type="search" name="name" class="flex-grow px-2 focus:outline-none" placeholder="SEARCH" value="@searchTerm" />
				</form>
			</div>
		</div>
	</div>
	<div class="flex flex-wrap gap-4 h-full">
		@foreach (var facility in Model)
		{
			<div class="w-[350px] bg-white shadow-md rounded-lg overflow-hidden mb-10 transform transition-transform duration-300 hover:scale-105">
				<img src="~/image/facility.png" alt="Facility" class="w-full h-48 object-cover">
				<div class="p-4">
					<h2 class="text-xl font-semibold">@facility.Name</h2>
					<p class="text-sm text-gray-600">@facility.Address</p>
					<p>@facility.Description</p>
				</div>
			</div>
		}
	</div>
</div>