@model IEnumerable<Facility>

@{
	ViewData["Title"] = "Facility";
}

<style>
	html {
		scroll-behavior: smooth;
		font-family: 'PT Sans Narrow', sans-serif;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	html::-webkit-scrollbar {
		width: 8px;
	}

	html::-webkit-scrollbar-track {
		background: #f0f0f0;
	}

	html::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 4px;
		border: 2px solid #f0f0f0;
	}

	html::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}
</style>


<div class="pt-25 gap-y-6 bg-gray-100 pb-10">
	<div class="flex flex-row items-center justify-between px-15 pb-10">
		<h2 class="text-3xl font-bold relative after:content-[''] after:block after:mt-1 after:w-15 after:h-1 after:bg-green-500 after:absolute after:left-0">
			<span>List of Facilities</span>
		</h2>
		<!-- Calendar Icon and Date Picker -->
		<div class="flex items-center ">

			<div class="flex items-center border border-black rounded-lg h-9 w-64 px-2">
				<span class="material-icons text-gray-500">search</span>
				<input type="search" class="flex-grow px-2 focus:outline-none" placeholder="SEARCH" />
			</div>
			<span class="material-icons text-gray-500 cursor-pointer ml-3">calendar_today</span>
			<input class="hidden" type="date" class="ml-2 px-2 py-1 border rounded focus:outline-none" />
		</div>
	</div>
	<div class="flex flex-wrap gap-x-8 mx-10">
		@foreach (var facility in Model)
		{
			<div class="w-full bg-white shadow-md rounded-lg overflow-hidden mb-10 transform transition-transform duration-300 hover:scale-105" style="width: 350px;">
				<img src="~/image/facility.png" alt="Facility" class="w-full h-48 object-cover">
				<div class="p-4">
					<h2 class="text-xl font-semibold">@facility.Name</h2>
					<p class="text-sm text-gray-600">@facility.Address</p>
					<p>@facility.Description</p>
				</div>
			</div>
		}
	</div>
</div>