@{
	ViewData["Title"] = "Reservation";
}
<h2 class="mx-10 my-5 mt-24 text-3xl font-bold relative after:content-[''] after:block after:mt-1 after:w-15 after:h-1 after:bg-green-500 after:absolute after:left-0">
    <span>Mirror Sud</span>
</h2>
<div class="flex mx-10 my-5">
    <div class="bg-white shadow-lg w-200">
        
        <img src="~/image/reservation.png" class="mt-5 w-200 h-100">
        <span>Things to know</span>
        <p>
            A Mirror Houses are a pair of modern, architecturally striking vacation homes located in South Tyrol, Italy. Designed by architect Peter Pichler, these houses are named after their unique design feature: their exteriors are covered in mirrored glass. This allows them to blend seamlessly into the surrounding natural landscape by reflecting the beauty of the Dolomites and the surrounding vineyards.
        </p>
    </div>
    <div class="w-90 ml-5">
        <div class="bg-white shadow-lg">
            <img src="~/image/reservation1.png" class="mt-5 w-full h-auto">
            
        </div>
        <div class="bg-white shadow-lg mt-5 p-5">
            Reviews<br>
            4.5/5
            <div class="flex items-center gap-1">
                <span class="material-icons text-yellow-500">star</span>
                <span class="material-icons text-yellow-500">star</span>
                <span class="material-icons text-yellow-500">star</span>
                <span class="material-icons text-yellow-500">star_outline</span>
                <span class="material-icons text-gray-400">star_outline</span>
            </div>
        </div>
    </div>
    
    
</div>
