@{
    ViewData["UHome"] = "Uhome";
}

<partial name="_Unavbar" />

<link rel="stylesheet" href="~/css/uhome.css">

<div class="image-container">
    <img src="~/image/logo.png" alt="Logo" class="logo" style="width: auto; height: 150px;">
    <img src="~/image/back1.png" alt="Background Image" class="background-image">
</div>
<div class="content-container">
    <div class="header-container">
        <b class="header-text">The evolution of</b>
        <span class="subheader-text">property discovery</span>
    </div>
    <br class="description-text"><p><div class="description">"Discover a seamless way to explore premium properties, tailored to your lifestyle, with exclusive<br>
     investment opportunities right at your fingertips."</div></p>
    <div class="oval">
        <div class="flex-item">
            <b>Location</b>
            <span>Choose your area</span>
        </div>
        <div class="flex-item">
            <b>Select unit type</b>
            <span>Choose your preferred home</span>
        </div>
        <div class="flex-item">
            <b>Price range</b>
            <span>Set your budget</span>
        </div>
        <div class="search-circle">
            <img src="~/image/search.png" alt="Search" class="search" style="width: auto; height: 30px;">
        </div>
    </div>
</div>
