
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 280vh;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh; 
}

.logo {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 100px;
    height: auto;
}

.background-image {
    width: 100%;
    height: 87vh;
    object-fit: cover; 
}

.content-container {
    position: absolute;
    top: 430px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text, .subheader-text {
    font-size: 42px;
    font-family: 'Instrument Sans', sans-serif;
    margin: 0 9px; 
}

.header-text {
    font-weight: bold;
    font-family: 'Instrument Sans', sans-serif;
}

.subheader-text {
    font-style: italic;
    font-family: 'Metal', serif;
}

.description {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 19.5px;
    font-weight: 400;
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    margin-top: -15px;
}

.oval {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #ffffff, #f0f0f0); 
    border-radius: 60px;
    width: 90%;
    height: 65px;
    padding: 20px;
    margin: 20px auto;
    color: black;
    font-family: 'Instrument Sans', sans-serif;
    text-align: center;
    position: relative;
    border: 2px solid #dcdcdc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 105px; 
}

.search-circle {
    background-color: #206400; 
    border-radius: 50%;
    padding: 10px; 
    position: absolute;
    right: 5px; 
}
.content-button{
    display: flex;
    justify-content: flex-end; 
    margin-top: -28px;
}
.content-button {
    display: flex;
    justify-content: flex-end; 
}

.content-button button:nth-child(1) {
    color: white;
    background-color: #206400; 
    width: 130px;
    height: 48px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin-top: -1px; 
}

.content-button button:nth-child(2),
.content-button button:nth-child(3) {
    color: #206400; 
    background-color: #ADD69A; 
    width: 130px;
    height: 48px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: -2px;
}

.content-button button:nth-child(4),
.content-button button:nth-child(5) {
    border: none;
}

.content-button2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.content-button2 {
    display: flex;
    justify-content: flex-end;
}

.content-button2 button:nth-child(1) {
    color: white;
    background-color: #206400;
    width: 190px;
    height: 48px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: -1px;
}

.content-button2 button:nth-child(2) {
    color: #206400;
    background-color: #ADD69A;
    width: 190px;
    height: 48px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: -2px;
}

.content-button2 button:nth-child(3),
.content-button2 button:nth-child(4) {
    border: none;
}


.point {
    background-color: #206400;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}

.content-button button, .point {
    margin: 0px 8px
}

.content-bottom {
    margin: 0px 50px;
}

.content-button2 button, .point {
    margin: 0px 8px
}

.content-bottom2 {
    margin: 0px 50px;
}


.first-content  {
    display: flex;
    width: 120vh;
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 10px;
}
.first-content img{
    width: 120vh;
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 20px;
}
.details {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    width: 100%;
}

.details span,
.details button {
    flex: 1 1 50%;
    text-align: left;
    margin: 23px 0;
}

.details span:nth-child(even),
.details button:nth-child(even) {
    text-align: right;
}

.details button {
    background-color: #206400;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Instrument Sans', sans-serif;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Details {
    padding:10px;
}
.Details h2{
    font-size: 20px;
    font-weight: bold;
}
.Details p{
    width: 93%;
    text-align: justify;
}
.header-first {
    font-size: 28px;
    margin-top: -19px;
    margin-bottom: 10px;
    font-weight: 700;
}.content-first {
    display: flex;
    width: 193.5vh;
    height: 65vh;
    overflow-x: auto;
    border-radius: 10px; 
    position: relative;
}
.content-first {
    display: flex;
    width: 193.5vh;
    height: 65vh;
    overflow-x: auto;
    border-radius: 10px;
    position: relative;
    mask-image: linear-gradient(to left, transparent, white 50px); /* Add gradient mask */
    -webkit-mask-image: linear-gradient(to left, transparent, white 50px); /* Add gradient mask for WebKit browsers */
}

.first-content {
    margin-right: 23px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.content-first::-webkit-scrollbar {
    height: 13px;
}

.content-first::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

    .content-first::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
